body {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(193, 194, 196);
    border: 2px solid rgb(193, 194, 196);
}

h1 h2 {
    text-align: center;
    font-family: 'Lucida Console';
}

table {
    text-align: left;
    border: 1px solid rgb(193, 194, 196);
    border-collapse: collapse;
    background-color: rgb(224, 251, 255);
    color: black;
    font-size: 17px;
    margin: 0 auto;
    
  }


  td {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
  }

  th {
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: Georgia;
    text-align: center;
    border: 2px solid rgb(248, 250, 255);
    
  }

  th{
    background-color: rgb(193, 194, 196);
    padding: 2px;
    display: table-cell;
    vertical-align: inherit;

  }


  .header {
    text-align: center;
    color: rgb(42, 55, 34);
  }

  .code {
    font-weight: normal;
    font-size: 15px;
    color:rgba(0, 0, 0, 0.363);
    text-align: center;
    background-color: aquamarine;
   
  }

  .up {
    text-align: center;
    font-weight: normal;
    font-size: 15px;
    color: rgb(3, 0, 0);
  }

 